body{
    background-image: url('../img/background03.jpg');
    background-attachment: fixed;
    margin: auto;
    font-family: Arial, sans-serif, Helvetica;
}

header{
	background-image: url('../img/background04.jpg');
    height: 160px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 2px;
    text-align: center;
}

header h1{
    font-size: 40px;
    padding-top: 4%;
}

.inputVenta {
    width: 25%;
}
#message{
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #ffc40d;
    font-weight: bold;
}

#container{
    margin: auto;
    margin-bottom: 2px;
    width: 100%;
    overflow: auto;
}

button .remove{
    width: 5%;
}

section{
	background-color: #f6f6f6;
}

article{
	padding: 20px;
}

footer {
    background-color: #2e3031;
    color: #f3f4f4;
    padding: 10px 0px 10px 0px;
    height: 90px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    clear: both;
}

input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.datalistCompra{
    width: 40%;
}

.buscarMenu{
    width: 40% !important;
}

.buttonDatalistCompra{
    width: 20%;
    background-color: #008CBA;
    height: 45px;
    text-align: center;
    min-width: 70px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputDatalistCompra{
    width: 19%;
}

input[type=submit].filtradoFechaButton{
    width: 20%;
    background-color: #008CBA;
    height: 45px;
    text-align: center;
    min-width: 70px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-left: 20px;   
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset] {
    width: 100%;
    background-color: #7F807F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.radio{
    width:5%;
}

li{
    list-style: none;
}


table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: gray;
    color: white;
}

table, th, td {
    text-align: center;
}

th, td {
    padding: 16px 0px 16px 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

tr:hover {
    background-color: #f5f5f5
}

button{
    background-color: #232323;
    height: 40px;
    border: none;
    text-align: center;
    min-width: 70px;
    width: 31%;
}

.volver{
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a button {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.buttonModificar {
    background-color: #4CAF50;
}

.buttonVerDetalle {
    background-color: #008CBA;
}

.buttonEliminar {
    background-color: #f44336;
}

#login{
    margin: 8%;
    padding: 1% 5% 5% 5%;
}

legend{
    font-size: 24px;
}

h1{
   font-size: 28px;
}

#paginado {
    height: 100%;
    text-align: center;
}

.center {
    text-align: center;
}

#paginado #actual {
    font-weight: bold;
    font-size: 120%;
}

#paginado a {
    text-decoration: none;
}

#paginado .ant-sig {
    margin: 0px 10px 0px 10px;
}

@media (min-width: 1001px) {
    #container{
        max-width: 1200px;
    }

    #ancho_parcial{
        width: 77%;
    }

    #ancho_total{
        width: 100%;
    }

    section{
        float: right;
    }

    .acciones{
        width: 38%;
    }

    .accionesVenta{
        width: 30%;
    }

    #message{
        width: 100%;
        padding: 10px;
        min-width: 980px;
        max-width: 1180px;
        border-radius: 5px;
    }

    tbody th {
        width: 31%;
    }
}

@media (max-width: 1000px) {
    body{
        zoom: 160%;
    }

    th, td {
        display: block;
    }

    #message{
        width: 96%;
        padding: 2%;
    }
}

.error{
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute; 
}

.error:before{
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
}

#graficoTorta{
    width: 100%;
    height: 400px;
}

.filtradoFechaInput{
    width: 25%;
}