{% extends "base.html.twig" %}

{% block title %}Alta de Compra{% endblock %}

{% block container %}
    {% include 'aside.html.twig' %}
    <section id="ancho_parcial">
		<article>
			<h1>Registrar compra</h1>
			<form enctype="multipart/form-data" method="POST" id="alta_compra" name="alta_compra" action="./?action=alta_compra_system">
				<input type="hidden" value="{{token}}" name="token">
				<h3>Proveedor:</h3>
				<input type="text" name="proveedor" id="proveedor" placeholder="Proveedor" maxlength="100" required autofocus>
				<h3>CUIT del proveedor:</h3>
				<input type="text" name="cuit" id="cuit" placeholder="CUIT" maxlength="15" required>
				<h3>Factura escaneada:</h3>
				<input type="file" name="factura" id="factura" placeholder="Seleccionar archivo">
				<h3>Productos:</h3>
				<button type="button" id="sumarProd" class="buttonDatalistCompra">Agregar Producto</button>
				<div id="listaProductos">
					<div id="1">
						<input id="productoCompra" class="datalistCompra" list="productos" name="producto1" placeholder="Buscar producto por nombre" maxlength="100" required>
						<datalist id="productos">
							{% for p in products %}
								<option value="{{ p.nombre }}">
							{% endfor %}
						</datalist>
						<input id="cantidadProducto" class="inputDatalistCompra" type="number" name="cantidad1" placeholder="Cantidad" min="1" required>
						<input id="precioProducto" class="inputDatalistCompra" type="number" name="precio1" placeholder="Precio" min="0.01" step="0.01" required>
					</div>
				</div>
				<input id="cantProductos" name="cantProductos" type="hidden" value="1">
				<input type="submit" value="Dar de alta" id="confirmarCompra">
				<input type="reset" value="Restablecer">
			</form>
		</article>
	</section>
{% endblock %}