<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!-- Estilos para pc's de escritorio -->
<link rel="stylesheet" media="(min-width: 25cm)" href="./templates/css/estilo.css">
<link rel="stylesheet" media="(min-width: 25cm)" href="./templates/css/estilo_menu.css">
<link rel="stylesheet" media="(min-width: 25cm)" href="./templates/css/estilo_aside.css">

<!-- Estilos para moviles --> 
<link rel="stylesheet" media="(max-width: 25cm)" href="./templates/css/m-estilo.css">
<link rel="stylesheet" media="(max-width: 25cm)" href="./templates/css/m-estilo_menu.css">
<link rel="stylesheet" media="(max-width: 25cm)" href="./templates/css/m-estilo_aside.css">

<!-- Icono de la aplicacion --> 
<link rel="shortcut icon" href="./templates/imagenes/" />
<script type="text/javascript" src="./templates/js/ocultarMostrar.js"></script>

<title> {{ title|title }} </title>